/*its work*/
* {
    box-sizing: border-box;
    margin: 0 auto;

  }

  .menu {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 400px;

  }
.header {
    background: url(logo_home.png) center ;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(1, 173, 130, 0.911);
    width: 40%;
    padding: 30px;
    -webkit-text-fill-color: black;
    font-size: 3ch;
}

.button {
    background-color: rgb(0, 141, 94);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}

table{
    border-collapse:collapse;
    box-sizing: border-box;
    width: 40%;
}
table, td, th {
    border: 2px solid black;
    border-radius: 5px;
  }
  #rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 800px;
    height: 200px;
    text-align: center;
    margin: 0 auto;

  }
  body{
      background-color: white;
      margin: 0 auto;
  }
  ul {
    padding: 100;
    background-color: #ffffff;
    width: 40%;
    border-style: solid;
    border-width: 1px;
    margin: 0 auto;
  }
  
  li {
    float: center;
    border-left: 7px solid rgb(74, 168, 137);
    margin: 0 auto;
  }
  
  li a {
    display: block;
    /* border-style: solid; */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color:  rgb(240, 240, 240);
  }
  .active {
    background-color: rgb(0, 168, 112);
    color: rgb(255, 254, 223);
    padding: 15px;
    text-align: center;
    margin: 0 auto;
  }

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.submit {
    margin: 0 auto;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
}

/* Form page: */

.form {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.form p {
  padding: 10px;
  display: block;
}

.form textfield {
  padding: 15px;
  margin-right: 10px;
  display: inline-table;
}

/* About page: */

.about {
    margin: 0 auto;
    text-align: center;
}

/* Date page: */

.Search_shifts {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.vars_input {
    margin: 0 auto;
    /*height: 40px;*/
    width: 500px;
}

.show_submit {
    margin: 0 auto;
    height: 40px;
    width: 150px;
}