<html>
    <head>
        {% if title %}
        <title>{{ title }} - Jems</title>
        {% else %}
        <title>Jems tips</title>
        {% endif %}
    </head>
    <body>
      <div class="header">Calculate Tips
        </div>
        <div class ="menu">
            -
            <a href="{{url_for('jems_beer')}}">Calculate tips</a>
            -
            <a href="{{url_for('form_new_waiter')}}">Add new waiter</a>
             -
            <a href="{{url_for('about')}}">About</a>
<!--            <a href="/login">Login</a>-->
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>