<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Waiter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jems-tips.css') }}">

</head>
<body>
{% extends "base.html" %}
{% block content %}
    <form class ="form" action="" method="post" novalidate>
        <h1>Form - New Waiter</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.waiter_name.label }} (*)
            <textfield>
                {{ form.waiter_name(size=22) }}
            </textfield>
        </p>
        <p>
            {{ form.job_name.label }} (*)
            <textfield>
                {{ form.job_name(size=22) }}
            </textfield>

         <p>
            {{ form.age.label }}
            <textfield>
                {{ form.age(size=22) }}
            </textfield>
        </p>
        <p>
            {{ form.phone.label }}
            <textfield>
            {{ form.phone(size=22) }}
            </textfield>
        </p>
        <p>
            {{ form.location.label }}
            <textfield>
             {{ form.location(size=22) }}
            </textfield>
        </p>

        <p><span style="height:40px;width:150px">{{ form.submit() }}</span> </p>
    </form>
{% endblock %}
</body>
</html>